/*---------------------New Styles for courses page-------------------*/
#mySidenav a.selected{
	background-color	: #000080;
}
.mid-page{
	padding-top			: 50px;
	height				: 100%;
	width				: 65%;
    position			: fixed;
}
#course-mid-page ul,li{
	list-style			: none;
}


.courses-img{
	dispay				: block;
	height				: 75%;
	width				: 100%;
	max-width			: 300px; 
 	max-height			: 100px;
 	overflow			: hidden; 
 	transition			: 0.3s;
}

.courses{
	dispay				: block;
	margin				: auto;
	height				: 25%;
	width				: 40%;/* change this for size of course's block*/
	border-radius		: 2px;
 	overflow			: hidden; 
 	background-color	: #3B0254;
	margin-top			: 20px;
	transition			: 0.3s;
	box-shadow			: 0px 2px 5px #888888;
}
.courses:hover{
	box-shadow			: 10px 12px 10px #888888;
}

img.decor {
	max-width			: 100%;
}

.sub-title{
	dispay				: block;
	height				: 15%;
	width				: 100%;
	box-shadow			: 0px -5px 10px #c0c0c0;
	
}
.sub-title a{	
	padding				: 5px 10px 10px 20px;
    text-decoration		: none;
    font-size			: 110%;
    color				: #818181;
    display				: block;
    transition			: 0.3s;
    text-align			: center;
}


/*----------------------New Styles----------*/
/*--------------------Style for Recent Update---------*/

#news{
     border: 2px solid black;
	 position: absolute;
	 width: 25%;
	 top:0px;
	 right:0px;
	 
   }



#NewsArea
		{
		height: 600px;
	    right: 0;
		width: 100%;		
		}

/* NEWS FRAME AREA TOP LEVEL PAGE - WIDTH ADDS BORDER */

#news_window	{
		width: 25%;
		height: 100%;
		max-width: 250px;
		min-width: 200px;
		box-sizing: border-box;
		margin: 0px auto 10px auto;
		border: #000000 1px solid;
		
		}


/* EMBEDDED NEWS PAGE BODY */

#NewsArea	{ 
     position: absolute;
     left: 0px;
	 top: 0px; 
	 overflow: auto;
     -webkit-overflow-scrolling: touch; 
	 }


/* FONTS & PADDING */

.news-text	{		
		color: #666666;
		font: roboto 12px "Droid Sans", arial, sans-serif;
		text-align: left;
		padding: 8px 7px 0px 7px;
		}

.news-title	{
		color: #000000;
		font: bold 15px "Droid Sans", arial, sans-serif;
		text-align: left;
		border-bottom: #666666 0px solid;
		} 

/* EMBEDDED NEWS PAGE LINK COLORS */

.news-page a:link	{ color: #0033FF; text-decoration: none; }

.news-page a:visited	{ color: #6633FF; text-decoration: none; }

.news-page a:active	{ color: #0033FF; text-decoration: none; }

.news-page a:hover	{ color: #6699FF; text-decoration: underline; }
/*--------------- Recent Updates -------------*/
